nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar{
  background-color: #434343;
  color: white;
}

.navbar-brand {
  color: white !important;
}

.employees{
  color: white;
}

.link{
  color: aliceblue;
  float: left;
}

.link:hover{
  text-decoration: none;
}