nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar{
  background-color: #434343;
  color: white;
}

.navbar-brand {
  color: white !important;
}

.employees{
  color: white;
}

.links{
  color: aliceblue;
  float: left;
}

.links:hover{
  text-decoration: none;
}